# Secrets
.env
.env.*
!.env.example
backend/.env
mobile/.env

# Dependencies
node_modules/
backend/node_modules/
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# Prisma
backend/dist/
backend/generated/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Flutter
mobile/.android/
mobile/*.iml
**/local.properties
**/key.properties
**/*.jks
**/*.keystore
